<h1>Welcome to Labs and Things</h1>

<div class="forms">

  <h3>Login here or with <%= link_to "Google", "/auth/google_oauth2" %></h3>

  <div class="login">
    <%= render 'form' %>
  </div>

  <br>
  <%= link_to "Sign up",  new_user_path %>

</div>